.subTitle {
    color: #5c2a9d;
    font-family: 'Chivo - Bold';
    font-size: 18px;
    letter-spacing: normal;
    // text-align: left;
}

.description {
    // width: 295px;
    color: #a1a1a1;
    font-family: 'Chivo';
    font-size: 16px;
    letter-spacing: normal;
    // text-align: left;
}