.mainContainer {
    margin: 70px 100px 0 100px;
    position: relative;
    z-index: 2;
}

.mainContainer, .navigationList  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigationList {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-right: 49px;
        color: #000000;
        font-family: 'Chivo - Bold';
        font-size: 16px;
        letter-spacing: normal;
    }
}

.logo {
    margin-right: 208px;

    img {
        pointer-events: none;
    }
}

.btnContainer {
    margin-left: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  
    .mainContainer {
        margin: 20px 15px 0 15px;
        flex-wrap: wrap;
    }    

    .logo {
        margin-right: 15px;
    }

    .navigationList {
        li {
            padding-right: 10px;
        }
    }
    
  }